
/* HTML Elements */
body {
  background-color: #6C5B7B;
}

/* Classes */
.welcome-homepage {
  font-size: 120px;
  text-align: center;
  margin-top: 100px;
  color: white;
}

.aTag-homepage {
  text-decoration: none;
  background-color: #F8B195;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}
